body{
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 592px;
}

.command-element{
    background-color: aliceblue;
    border-radius: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: -11px 11px 10px -10px rgba(0, 0, 0, 1);
    -moz-box-shadow: -11px 11px 10px -10px rgba(0, 0, 0, 1);
    box-shadow: -11px 11px 10px -10px rgba(0, 0, 0, 1);
}

.command-element input{
    font-size: medium;
    height: 24.5px;
    float: right;
}

.command-element select{
    font-size: medium;
    float: right;
}

.turn{
    background-color: rgb(94, 255, 40);
}

.go{
    background-color: rgb(56, 149, 255);
}

footer{
    position: fixed;
    left: 10px;
    bottom: 0;
}

#commands_list{
    max-height: 65vh;
    overflow-y: scroll;
    margin-bottom: 10px;
    padding: 10px;
    -webkit-box-shadow: inset 0px 0px 17px -3px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 0px 17px -3px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 0px 17px -3px rgba(0, 0, 0, 1);
}

.delete_command_button{
    background-color: transparent;
    border-color: transparent;
}

.content_center {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.in {
    font-size: medium;
    height: 24.5px;
    float: right;
    width: 100%;
}
