body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.command-element{
    background-color: aliceblue;
    border-radius: 10px;
    margin-bottom: 10px;
}

.command-element input{
    font-size: medium;
    height: 24.5px;
    float: right;
}

.command-element select{
    font-size: medium;
    float: right;
}

.turn{
    background-color: rgb(94, 255, 40);
}

.go{
    background-color: rgb(56, 149, 255);
}

footer{
    position: fixed;
    left: 10px;
    bottom: 0;
}

#commands_list{
    max-height: 65vh;
    overflow-y: scroll;
}

.delete_command_button{
    background-color: transparent;
    border-color: transparent;
}

.content_center {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}